* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

/* Background Video */
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    pointer-events: none;
}

/* Overlay */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: -1;
    pointer-events: none;
}

/* Center */
.container {
    position: relative;
    z-index: 10;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: rgba(0,0,0,0.6);
    padding: 30px;
    border-radius: 16px;
    text-align: center;
    width: 300px;
    color: white;
}

/* Logo bulat */
.logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid white;
}

/* Tombol */
.btn {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

/* Verifikasi */
.verify {
    background: linear-gradient(135deg, #00e676, #00c853);
    color: black;
}

/* Copy */
.copy {
    background: linear-gradient(135deg, #448aff, #2979ff);
    color: white;
}

/* Success */
.success {
    margin-top: 10px;
    color: #00ff9c;
    display: none;
}

/* Tombol lanjutan */
.next {
    display: none;
}
